<p id="notice"><%= notice %></p>

<h1>商品一覧</h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.item.name') %></th>
      <th><%= t('activerecord.attributes.item.shipping_cost') %></th>
      <th><%= t('activerecord.attributes.item.description') %></th>
      <th><%= t('activerecord.attributes.item.status') %></th>
      <th><%= t('activerecord.attributes.item.categories') %></th>
      <th><%= t('activerecord.attributes.item.sku_code') %></th>
      <th><%= t('activerecord.attributes.item.sku') %></th>
      <th><%= t('activerecord.attributes.item.price') %></th>
      <th><%= t('activerecord.attributes.item.inventory') %></th>
      <th><%= t('activerecord.attributes.item.inventory_status') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.shipping_cost %></td>
        <td><%= item.description %></td>
        <td><%= item.status %></td>
        <td><%= item.categories %></td>
        <td><%= item.sku_code %></td>
        <td><%= item.sku %></td>
        <td><%= item.price %></td>
        <td><%= item.inventory %></td>
        <td><%= item.inventory_status %></td>
        <td><%= link_to t('helpers.links.show') , item %></td>
        <td><%= link_to t('helpers.links.edit') , edit_item_path(item) %></td>
        <td><%= link_to t('helpers.links.destroy') , item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.links.new'), new_item_path %>
