<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.item.name') %>:</strong>
  <%= @item.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.shipping_cost') %>:</strong>
  <%= @item.shipping_cost %>
</p>

<p>
  <strong><%= t('activerecord.attributes.description') %>:</strong>
  <%= @item.description %>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.status') %>:</strong>
  <%= @item.status %>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.categories') %>:</strong>
  <%= @item.categories %>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.sku_code') %>:</strong>
  <%= @item.sku_code %>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.sku') %>:</strong>
  <%= @item.sku %>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.price') %>:</strong>
  <%= @item.price %>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.inventory') %>:</strong>
  <%= @item.inventory %>
</p>

<p>
  <strong><%= t('activerecord.attributes.item.inventory_status') %>:</strong>
  <%= @item.inventory_status %>
</p>

<%= link_to t('helpers.links.edit') , edit_item_path(@item) %> |
<%= link_to t('helpers.links.back') , items_path %>
